.footer{   
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color:white;
    min-height:10px;
    width:auto;
    position:sticky;
    border: double 10px #209789;   
    border-radius: 15px;
    margin-top: 10px;
}

.footer .list {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    font-size: x-large;
    list-style-type: none;
    margin-bottom: 10px;
}

.footer .li {    
    text-align: center;    
    text-decoration: none;
    float: left;    
}

.footer a{
    color: rgb(230, 71, 97);  
}

.footer li :hover{
    color: #165f57;
    font-size: 125%;
}

.footer p{
    font-weight: bolder;
    color: #165f57;
    margin-bottom: 5px;
  margin-left: 35%;
  margin-right: 50%;
  width: 50%;
}