.header{
    
}
.header .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    vertical-align:middle;margin:0px 12px;
}

.header .list {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    font-size: xx-large;
    list-style-type: none;    
    padding-left: 200px;
    overflow: hidden;   
    
}

h1 {
    text-align: center;
    margin-bottom: 0%;
}

.header .li {
    display: block;
    color: #209789;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    float: left;
}

.header a{
    display: inline-block;
    color: #209789;  
}
.header .li :hover {
    font-size: 125%;
    color: rgb(230, 71, 97);
}
.header .front{
    background-color: aqua;
}


@media (max-width: 750px){
    .header .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;  
    }
}
@media (max-width: 750px){
    .header .list{        
        left: 0;
        right: 0;
        top: 100px;
        display: grid;
        padding: 0;
        margin: -20px;
        grid-template-columns: 1fr 1fr;  
        font-size: large;  
    }
}